<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Mapeo Gestion de Residuos</title>
</head>
<body>

<header>
    <div class="header-container">
        <div class="logo">
            <ion-icon name="map"></ion-icon>
            <span>Mapeo Gestion de Residuos</span>
        </div>
        <div class="menu">
            <ul>
                <li><a href="http://localhost:8099/contenedores/ubicaciones/mapa" id="home">Home</a></li>
                <li><a href="#">Infografias</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </div>
        <div class="controllers">

            <ion-icon name="game-controller"></ion-icon>
            <a href="http://localhost:9090/login/index"><button id="btn-sign-up">SIGN UP</button></a>
            <ion-icon id="btn-menu" name="menu"></ion-icon>

        </div>
    </div>
</header>
<main>


    <div class="container">
        <form th:action="@{http://localhost:8099/reportes/crear}" method="post" name="Reportar">
            <h1 class="etiqueta" th:text="${etiqueta}"></h1>

            <section class="classification">
                <h2>Clasificación</h2>
                <div class="classification-grid">
                    <div class="classification" th:each="reporte : ${reporte}">
                        <img class="classification-btn"
                             th:src="@{/images/contenedores/{img}(img=${reporte[0] + '.png'})}"
                             th:alt="${'Imagen de ' + reporte[0]}" />
                        <input class="contenedor_cls" type="radio" name="clasificacion" th:value="${reporte[0]}">
                    </div>
                </div>
            </section>
            <script>

            </script>
            <section class="container-state">
                <h2>Estado del Contenedor</h2>
                <div class="radio-group">
                    <label class="radio-label">
                        <input class="rd_btn" type="radio" name="estado" value="lleno">
                        <span class="radio-custom"></span>
                        Lleno
                    </label>
                    <label class="radio-label">
                        <input class="rd_btn" type="radio" name="estado" value="danado">
                        <span class="radio-custom"></span>
                        Dañado
                    </label>
                    <label class="radio-label">
                        <input class="rd_btn" type="radio" name="estado" value="mezclada">
                        <span class="radio-custom"></span>
                        Basura Mezclada
                    </label>
                </div>
            </section>

            <button type="submit" class="submit-btn">Reportar</button>
        </form>

    </div>

</main>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/js/script.js"></script>

</body>
</html>